.DS_Store
*.hex

LCM/Project/MDK5/Objects/
LCM/Project/MDK5/LCM_Light_Control_IO_WS2812_New.uvguix.*
LCM/Project/MDK5/Listings/

LCM/Project/MDK5/out/
LCM/Project/MDK5/tmp/

LCM/Project/MDK5/.clangd
LCM/Project/MDK5/LCM_Light_Control_IO_WS2812_New.cbuild-idx.yml
LCM/Project/MDK5/LCM_Light_Control_IO_WS2812_New.cbuild-set.yml
LCM/Project/MDK5/LCM_Light_Control_IO_WS2812_New*.cbuild.yml
